*{
    margin:0;
    padding:0;
    box-sizing:
}
}
ul li{
    list-style:none;
}
#wrapper{
    width: 960px;
    margin: auto;
    padding: 10px;
    height: 190px;
    align-items: center;
}
.nav li{
    width:130px;
    height:180px;
    display:inline-block;
    float:left;
    cursor:pointer;
    transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
}
.nav li:hover{
    opacity:1;
    height:190px;
}
.nav li.hm:hover{
    border-bottom:4px solid #29333F);
}
.nav li.fb:hover{
    border-bottom:4px solid #29333F);
}
.nav li.gp:hover{
    border-bottom:4px solid #29333F);
}
.nav li.tw:hover{
    border-bottom:4px solid #29333F);
}
.nav li.cl:hover{
    border-bottom:4px solid #29333F);
}
img.icon{
    background:rgba(255, 255, 255, 0.4);
    padding:14px;
    border-radius:100%;
    margin:30px auto;
    display:block;
    transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
    -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
    background:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
    text-align:center;
    display:block;
    padding-top:3px;
    color:rgba(255, 255, 255, 1);
    font-size:0.9em;
    transition:padding-top 0.4s;
    -webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
    padding-top:20px;
}
.hm{
    background:#29333F);
}
.fb{
    background:#29333F);
}
.gp{
    background:#29333F);
}
.tw{
    background:#29333F);
}
.cl{
    background:#29333F);
}